<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo_navbar.png" alt="Logo" class="logo-navbar">
    </a>
    <div class="nav-list">
      <a href="#" class="nav-link custom-nav-link">Home</a>
      <a href="#" class="nav-link custom-nav-link">Sobre</a>
      <a href="#" class="nav-link custom-nav-link">Contato</a>
      <button class="btn custom-button-login">Login</button>
      <button class="btn custom-button-cadastro">Cadastrar</button>
    </div>
  </div>
</nav>
