<div class="container-orders-index">
  <h1>Suas compras</h1>
  <div class="order-list">
    <ul class="list-group">
      <% total_price = 0 %>
      <% @orders.each do |order| %>
        <% total_price += order.power.price %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><%= order.power.name %></span>
            <strong><%= order.power.price %></strong>
            <%= button_to "Deletar", order_path(order), method: :delete, class: "custom-button" %>
          </li>
      <% end %>
    </ul>

        <h3 class="text-price-orders-index">Preço Total: $<%= total_price %></h3>

  </div>
</div>
