<h1 class="text-center mb-4">Lista das suas ordens</h1>

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="order-list">
    <ul class="list-group">
      <% @orders.each do |order| %>
        <li class="list-group-item text-center"><%= order.power.name %></li>
      <% end %>
    </ul>

    <!-- GIF ao final da lista -->
    <div class="text-center mt-4">
      <%= image_tag "uncleben.gif", alt: "Responsabilidade", class: "img-fluid" %>
    </div>
  </div>
</div>
