<h2>Detalhes do Pedido</h2>

<p><strong>ID do Pedido:</strong> <%= @order.id %></p>
<p><strong>Poder:</strong> <%= @order.power.name %></p>
<p><strong>Email do Usuário:</strong> <%= @order.user.email %></p>

<%= button_to "Logout", destroy_user_session_path, method: :delete %>
