<div class="container">
  <div class="header-text">
  Superpoderes à venda! Porque esperar uma mutação radioativa pode levar tempo demais.
</div>

<div class="cards-home">
  <%= image_tag "cards-home.png", alt: "Card SuperPowers" %>
</div>
</div>
