/* Contêiner geral */
.container-powers {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

/* Texto sobre as imagens */

.header-text {
  position: absolute;
  background-color: black;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(248, 95, 144, 0.25), 0px 4px 4px 0px #2CFFFF;
  top: 20px;
  left: 25%;
  right: 0;
  height: 220px;
  text-align: center;
  font-size: 36px;
  z-index: 10; /* Garante que o texto fique sobre as imagens */
  color: white;
  margin-top: 100px; /* Ajuste conforme necessário */
  h1{
    font-size: 48px;
  }
}

/* Cada coluna dentro do grid */
.column {
  display: flex;
  width: 500px;
  height: 750px;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre as imagens dentro da coluna */
}

/* Imagens dentro de cada coluna */
.column .img {
  width: 100%;
  height: 750px;
  object-fit: cover; /* Garantindo que as imagens cubram o espaço */
  transition: transform 10s ease-in-out;
  position: relative;
}

/* Animação para as imagens subirem com o hover */
.column:hover .img {
  transform: translateY(-400%); /* Faz as imagens subirem quando o hover ocorrer */
}

/* Estilo para garantir que as imagens ficam bem posicionadas */
.home-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr); /* Dividindo em 4 colunas */
  gap: 20px; /* Espaçamento entre as colunas */
}

