.container {
  display: flex;
  width: 100%;	
  flex-direction: column;
  gap: 26px;
  
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  display: flex;
  border: solid 1px;
  flex-direction: column;
  align-items: center;
}

.card-container { 
  display: grid;
  margin: auto;
  width: 80%;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .placeholder {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}

.card-link {
  text-decoration: none;
  display: block;
}

.card{
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-decoration-none {
  color: inherit;
  text-decoration: none;
}